input {
  border: 1px solid skyblue;
  border-radius: 50px;
  padding: 5px 5px;
  min-width: 300px;
}
.logo {
  height: 60px;
  width: auto;
  cursor: pointer;
  align-items: center;
  display: block;
  margin: auto;
}
